html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    width: 80%;
}
header{
    min-width: 731px;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
nav {
    min-width: 731px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-transform:uppercase;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
}
nav ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    height: 100%;
    width: 100%;
    list-style: none;
    text-align: center;
    position: relative;
}
nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;
    transition: top .3s ease-out;
}
nav li a:hover {
    background-color: white;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
    /*background-color: rgba(155, 155, 155, 0.5);*/
    position: absolute;
    top: 10px;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacts {
    width: 100%;
    height: 100%;
    justify-content:center;
    display: flex;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
}
.contacts img {
    margin-left: 10px;
}
.contacts h3 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.contacts div {
    flex-grow: 1;
}
.contacts li {
    width: max-content;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 5px;
}
.contacts li img{
    width: 1.2em;
}
.avatar {
    width: 200px;
    height: 200px;
    border: 3px dashed rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}